In [2]:
import pandas as pd
from google.colab import files

In [3]:
# upload the uncleaned 12x12 data
uploaded = files.upload()

Saving uncleaned_sudokus_12x12.csv to uncleaned_sudokus_12x12.csv

In [7]:
# loading and looking at the data
df = pd.read_csv("uncleaned_sudokus_12x12.csv")
print(df.shape)
df.head()

(5000, 2)

                                              puzzle                                           solution
0  0 0 0 9 8 0 7 0 5 0 3 0 3 11 0 7 0 0 0 5 0 0 6...  4 12 6 9 8 11 7 2 5 10 3 1 3 11 2 7 1 10 9 5 1...
1  0 0 0 9 8 0 7 0 5 0 3 0 3 11 0 7 0 0 0 5 0 0 6...  4 12 6 9 8 11 7 2 5 10 3 1 3 11 2 7 1 10 9 5 1...
2  0 0 3 11 0 0 7 4 10 0 0 0 0 6 0 10 0 0 11 0 0 ...  1 2 3 11 5 6 7 4 10 9 8 12 7 6 9 10 3 8 11 12 ...
3  0 0 0 0 7 0 0 5 0 4 0 6 4 0 0 3 0 0 0 0 7 0 11...  1 11 9 10 7 3 12 5 8 4 2 6 4 12 6 3 1 9 2 8 7 ...
4  0 0 0 3 0 0 2 5 0 1 0 0 0 0 5 6 4 11 0 1 10 0 ...  7 11 10 3 9 8 2 5 12 1 4 6 8 12 5 6 4 11 3 1 1...

In [8]:
# cleaning dataset
clean_df = df.copy()
clean_df.head()

                                              puzzle                                           solution
0  0 0 0 9 8 0 7 0 5 0 3 0 3 11 0 7 0 0 0 5 0 0 6...  4 12 6 9 8 11 7 2 5 10 3 1 3 11 2 7 1 10 9 5 1...
1  0 0 0 9 8 0 7 0 5 0 3 0 3 11 0 7 0 0 0 5 0 0 6...  4 12 6 9 8 11 7 2 5 10 3 1 3 11 2 7 1 10 9 5 1...
2  0 0 3 11 0 0 7 4 10 0 0 0 0 6 0 10 0 0 11 0 0 ...  1 2 3 11 5 6 7 4 10 9 8 12 7 6 9 10 3 8 11 12 ...
3  0 0 0 0 7 0 0 5 0 4 0 6 4 0 0 3 0 0 0 0 7 0 11...  1 11 9 10 7 3 12 5 8 4 2 6 4 12 6 3 1 9 2 8 7 ...
4  0 0 0 3 0 0 2 5 0 1 0 0 0 0 5 6 4 11 0 1 10 0 ...  7 11 10 3 9 8 2 5 12 1 4 6 8 12 5 6 4 11 3 1 1...

In [9]:
# replace
# '0' with '.'
# '10' with 'A'
# '11' with 'B'
# '12' with 'C'
clean_df['puzzle'] = clean_df['puzzle'].replace(r'0', '.', regex = True)
clean_df = clean_df.replace(r'10', 'A', regex = True)
clean_df = clean_df.replace(r'11', 'B', regex = True)
clean_df = clean_df.replace(r'12', 'C', regex = True)
clean_df.head()

                                              puzzle                                           solution
0  . . . 9 8 . 7 . 5 . 3 . 3 B . 7 . . . 5 . . 6 ...  4 C 6 9 8 B 7 2 5 A 3 1 3 B 2 7 1 A 9 5 C 4 6 ...
1  . . . 9 8 . 7 . 5 . 3 . 3 B . 7 . . . 5 . . 6 ...  4 C 6 9 8 B 7 2 5 A 3 1 3 B 2 7 1 A 9 5 C 4 6 ...
2  . . 3 B . . 7 4 1. . . . . 6 . 1. . . B . . 2 ...  1 2 3 B 5 6 7 4 A 9 8 C 7 6 9 A 3 8 B C 5 2 1 ...
3  . . . . 7 . . 5 . 4 . 6 4 . . 3 . . . . 7 . B ...  1 B 9 A 7 3 C 5 8 4 2 6 4 C 6 3 1 9 2 8 7 A B ...
4  . . . 3 . . 2 5 . 1 . . . . 5 6 4 B . 1 1. . ....  7 B A 3 9 8 2 5 C 1 4 6 8 C 5 6 4 B 3 1 A 9 7 ...

In [10]:
# remove spaces
clean_df = clean_df.replace(r' ', '', regex = True)
clean_df.head()

                                              puzzle                                           solution
0  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  4C698B725A313B271A95C46851A863C47B2976CB428391...
1  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  4C698B725A313B271A95C46851A863C47B2976CB428391...
2  ..3B..741.....6.1...B..2...5..219....38.6...4....  123B5674A98C769A38BC521445C8219A67B38769BA4325...
3  ....7..5.4.64..3....7.B57....1..6C9..2.......1...  1B9A73C584264C6319287AB57852BA46C913214B657CA3...
4  ...3..25.1....564B.11...294....7.5....9......4...  7BA39825C1468C564B31A97294126C7A58B3B967C3584A...

In [11]:
# making a 'level' column
clean_df['level'] = 'Hard'
clean_df.head()

                                              puzzle  ... level
0  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  ...  Hard
1  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  ...  Hard
2  ..3B..741.....6.1...B..2...5..219....38.6...4....  ...  Hard
3  ....7..5.4.64..3....7.B57....1..6C9..2.......1...  ...  Hard
4  ...3..25.1....564B.11...294....7.5....9......4...  ...  Hard

[5 rows x 3 columns]

In [12]:
# rename 'puzzle' to 'sudoku'
clean_df.rename(columns = {'puzzle': 'sudoku'}, inplace = True)
clean_df.head()

                                              sudoku  ... level
0  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  ...  Hard
1  ...98.7.5.3.3B.7...5..6.5....3C..B..76C....3.....  ...  Hard
2  ..3B..741.....6.1...B..2...5..219....38.6...4....  ...  Hard
3  ....7..5.4.64..3....7.B57....1..6C9..2.......1...  ...  Hard
4  ...3..25.1....564B.11...294....7.5....9......4...  ...  Hard

[5 rows x 3 columns]

In [15]:
# download the clean csv
clean_df.to_csv('12x12_puzzles.csv')

In [16]:
files.download('12x12_puzzles.csv')