In [1]:
import pandas as pd
from google.colab import files

In [2]:
# upload the uncleaned 16x16 data
uploaded = files.upload()

Saving uncleaned_sudokus_16x16.csv to uncleaned_sudokus_16x16.csv

In [3]:
# loading and looking at the data
df = pd.read_csv("uncleaned_sudokus_16x16.csv")
print(df.shape)
df.head()

(5000, 2)

                                              puzzle                                           solution
0  0 0 0 0 0 15 13 0 0 0 14 7 6 0 1 10 0 0 0 0 0 ...  9 2 12 11 3 15 13 16 8 4 14 7 6 5 1 10 4 6 1 1...
1  12 0 0 1 8 0 0 16 3 0 0 0 0 0 15 14 5 10 14 0 ...  12 4 2 1 8 5 9 16 3 6 13 10 11 7 15 14 5 10 14...
2  0 7 10 0 0 0 13 0 8 9 5 4 0 2 12 0 0 4 0 2 0 0...  14 7 10 15 1 11 13 16 8 9 5 4 6 2 12 3 16 4 6 ...
3  0 0 0 0 16 0 0 7 5 10 15 8 0 0 14 0 10 0 0 0 0...  12 9 1 6 16 3 4 7 5 10 15 8 2 13 14 11 10 3 15...
4  5 4 0 10 0 0 0 0 0 0 9 0 0 0 0 6 0 9 11 0 0 13...  5 4 3 10 7 11 14 15 1 2 9 13 16 12 8 6 8 9 11 ...

In [4]:
# cleaning dataset
clean_df = df.copy()
clean_df.head()

                                              puzzle                                           solution
0  0 0 0 0 0 15 13 0 0 0 14 7 6 0 1 10 0 0 0 0 0 ...  9 2 12 11 3 15 13 16 8 4 14 7 6 5 1 10 4 6 1 1...
1  12 0 0 1 8 0 0 16 3 0 0 0 0 0 15 14 5 10 14 0 ...  12 4 2 1 8 5 9 16 3 6 13 10 11 7 15 14 5 10 14...
2  0 7 10 0 0 0 13 0 8 9 5 4 0 2 12 0 0 4 0 2 0 0...  14 7 10 15 1 11 13 16 8 9 5 4 6 2 12 3 16 4 6 ...
3  0 0 0 0 16 0 0 7 5 10 15 8 0 0 14 0 10 0 0 0 0...  12 9 1 6 16 3 4 7 5 10 15 8 2 13 14 11 10 3 15...
4  5 4 0 10 0 0 0 0 0 0 9 0 0 0 0 6 0 9 11 0 0 13...  5 4 3 10 7 11 14 15 1 2 9 13 16 12 8 6 8 9 11 ...

In [5]:
# replace
# '0' with '.'
# '10' with 'A'
# '11' with 'B'
# '12' with 'C'
# '13' with 'D'
# '14' with 'E'
# '15' with 'F'
# '16' with 'G'
clean_df['puzzle'] = clean_df['puzzle'].replace(r'0', '.', regex = True)
clean_df = clean_df.replace(r'10', 'A', regex = True)
clean_df = clean_df.replace(r'11', 'B', regex = True)
clean_df = clean_df.replace(r'12', 'C', regex = True)
clean_df = clean_df.replace(r'13', 'D', regex = True)
clean_df = clean_df.replace(r'14', 'E', regex = True)
clean_df = clean_df.replace(r'15', 'F', regex = True)
clean_df = clean_df.replace(r'16', 'G', regex = True)
clean_df.head()

                                              puzzle                                           solution
0  . . . . . F D . . . E 7 6 . 1 1. . . . . . . 9...  9 2 C B 3 F D G 8 4 E 7 6 5 1 A 4 6 1 F 7 C 9 ...
1  C . . 1 8 . . G 3 . . . . . F E 5 1. E . . 1 ....  C 4 2 1 8 5 9 G 3 6 D A B 7 F E 5 A E D F 1 7 ...
2  . 7 1. . . . D . 8 9 5 4 . 2 C . . 4 . 2 . . E...  E 7 A F 1 B D G 8 9 5 4 6 2 C 3 G 4 6 2 F C E ...
3  . . . . G . . 7 5 1. F 8 . . E . 1. . . . . . ...  C 9 1 6 G 3 4 7 5 A F 8 2 D E B A 3 F 2 D 1 9 ...
4  5 4 . 1. . . . . . . 9 . . . . 6 . 9 B . . D ....  5 4 3 A 7 B E F 1 2 9 D G C 8 6 8 9 B F 1 D 2 ...

In [6]:
# remove spaces
clean_df = clean_df.replace(r' ', '', regex = True)
clean_df.head()

                                              puzzle                                           solution
0  .....FD...E76.11.......9..32G....E7...2.....D....  92CB3FDG84E7651A461F7C95A32GBED8E75812BA6FCD39...
1  C..18..G3.....FE51.E..1..9.2...63...8D.....B74...  C421859G36DAB7FE5AEDF17B9824CG636F38DE2CG5B741...
2  .71....D.8954.2C..4.2..E87..B.11.5C3D5...1.6.....  E7AF1BDG895462C3G462FCE873DB91A5C3D5294A6F1G78...
3  ....G..751.F8..E.1........G..BC.4.7....5.FC91....  C916G3475AF82DEBA3F2D198G7EBC6457BD465EFC91283...
4  54.1.......9....6.9B..D.GC...7...6E1.5..97GB.F...  543A7BEF129DGC8689BF1D2GC6EA73456E1C54897GB3FA...

In [7]:
# making a 'level' column
clean_df['level'] = 'Hard'
clean_df.head()

                                              puzzle  ... level
0  .....FD...E76.11.......9..32G....E7...2.....D....  ...  Hard
1  C..18..G3.....FE51.E..1..9.2...63...8D.....B74...  ...  Hard
2  .71....D.8954.2C..4.2..E87..B.11.5C3D5...1.6.....  ...  Hard
3  ....G..751.F8..E.1........G..BC.4.7....5.FC91....  ...  Hard
4  54.1.......9....6.9B..D.GC...7...6E1.5..97GB.F...  ...  Hard

[5 rows x 3 columns]

In [8]:
# rename 'puzzle' to 'sudoku'
clean_df.rename(columns = {'puzzle': 'sudoku'}, inplace = True)
clean_df.head()

                                              sudoku  ... level
0  .....FD...E76.11.......9..32G....E7...2.....D....  ...  Hard
1  C..18..G3.....FE51.E..1..9.2...63...8D.....B74...  ...  Hard
2  .71....D.8954.2C..4.2..E87..B.11.5C3D5...1.6.....  ...  Hard
3  ....G..751.F8..E.1........G..BC.4.7....5.FC91....  ...  Hard
4  54.1.......9....6.9B..D.GC...7...6E1.5..97GB.F...  ...  Hard

[5 rows x 3 columns]

In [9]:
# download the clean csv
clean_df.to_csv('16x16_puzzles.csv')

In [10]:
files.download('16x16_puzzles.csv')