In [0]:
import pandas as pd

puzzles = pd.read_csv('https://raw.githubusercontent.com/Black-Phoenix/4x4-Sudoku-Dataset/master/4x4_sudoku_unique_puzzles.csv')

puzzles = puzzles.sample(n=5000)

In [52]:
puzzles.tail()

                  Puzzle          Solution
715546   300203414003201  4312213414233241
167843   304013000003021  2314413212433421
838017  3241000003040423  3241413223141423
59693   3000024040200034  3412124343212134
303969  4000030102041023  4132234132141423

In [53]:
puzzles['Puzzle'].iloc[0].dtype

dtype('int64')

In [0]:
def format_puzzle(puzzle):
  puzzle_string = str(puzzle)
  padded_puzzle_string = puzzle_string.zfill(16)
  formatted_puzzle_string = padded_puzzle_string.replace('0', '.')
  return formatted_puzzle_string

In [0]:
puzzles['Puzzle'] = [format_puzzle(i) for i in puzzles['Puzzle']]

In [57]:
puzzles.tail()

                  Puzzle          Solution
715546  .3..2.3414..32.1  4312213414233241
167843  .3.4.13.....3.21  2314413212433421
838017  3241.....3.4.423  3241413223141423
59693   3....24.4.2...34  3412124343212134
303969  4....3.1.2.41.23  4132234132141423

In [0]:
puzzles['Solution'] = [str(solution) for solution in puzzles['Solution']]

In [0]:
puzzles.to_csv('4x4_puzzles.csv')