*   [Sudoku Scraper](https://github.com/apauliuc/sudoku-scraper)
*   [Scraped Website](https://www.menneske.no/sudoku/2x3/eng/)

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
# upload the uncleaned 6x6 data
uploaded = files.upload()

Saving uncleaned_sudokus_6x6.csv to uncleaned_sudokus_6x6.csv

In [ ]:
# loading and looking at the data
df = pd.read_csv("uncleaned_sudokus_6x6.csv")
print(df.shape)
df.head()

(5000, 2)

                                              puzzle                                           solution
0  0 0 2 0 6 0 0 5 0 0 2 1 0 0 0 5 0 0 0 0 4 0 0 ...  1 3 2 4 6 5 4 5 6 3 2 1 2 1 3 5 4 6 5 6 4 2 1 ...
1  0 0 2 0 0 0 0 6 4 0 0 2 0 4 5 0 0 0 0 0 0 1 4 ...  3 1 2 6 5 4 5 6 4 3 1 2 1 4 5 2 6 3 2 3 6 1 4 ...
2  0 0 0 2 5 0 0 0 3 0 1 0 0 0 0 0 4 5 4 3 0 0 0 ...  1 4 6 2 5 3 2 5 3 6 1 4 6 1 2 3 4 5 4 3 5 1 6 ...
3  0 0 0 0 0 5 2 3 5 0 0 4 0 0 0 2 0 6 5 0 6 0 0 ...  1 6 4 3 2 5 2 3 5 6 1 4 4 1 3 2 5 6 5 2 6 1 4 ...
4  0 0 5 0 0 0 0 1 0 0 0 2 0 0 0 2 4 6 6 4 2 0 0 ...  2 6 5 4 1 3 3 1 4 5 6 2 5 3 1 2 4 6 6 4 2 1 3 ...

In [ ]:
# cleaning dataset
clean_df = df.copy()
clean_df.head()

                                              puzzle                                           solution
0  0 0 2 0 6 0 0 5 0 0 2 1 0 0 0 5 0 0 0 0 4 0 0 ...  1 3 2 4 6 5 4 5 6 3 2 1 2 1 3 5 4 6 5 6 4 2 1 ...
1  0 0 2 0 0 0 0 6 4 0 0 2 0 4 5 0 0 0 0 0 0 1 4 ...  3 1 2 6 5 4 5 6 4 3 1 2 1 4 5 2 6 3 2 3 6 1 4 ...
2  0 0 0 2 5 0 0 0 3 0 1 0 0 0 0 0 4 5 4 3 0 0 0 ...  1 4 6 2 5 3 2 5 3 6 1 4 6 1 2 3 4 5 4 3 5 1 6 ...
3  0 0 0 0 0 5 2 3 5 0 0 4 0 0 0 2 0 6 5 0 6 0 0 ...  1 6 4 3 2 5 2 3 5 6 1 4 4 1 3 2 5 6 5 2 6 1 4 ...
4  0 0 5 0 0 0 0 1 0 0 0 2 0 0 0 2 4 6 6 4 2 0 0 ...  2 6 5 4 1 3 3 1 4 5 6 2 5 3 1 2 4 6 6 4 2 1 3 ...

In [ ]:
# replace '0' with '.'
clean_df['puzzle'] = clean_df['puzzle'].replace(r'0', '.', regex = True)
clean_df.head()

                                              puzzle                                           solution
0  . . 2 . 6 . . 5 . . 2 1 . . . 5 . . . . 4 . . ...  1 3 2 4 6 5 4 5 6 3 2 1 2 1 3 5 4 6 5 6 4 2 1 ...
1  . . 2 . . . . 6 4 . . 2 . 4 5 . . . . . . 1 4 ...  3 1 2 6 5 4 5 6 4 3 1 2 1 4 5 2 6 3 2 3 6 1 4 ...
2  . . . 2 5 . . . 3 . 1 . . . . . 4 5 4 3 . . . ...  1 4 6 2 5 3 2 5 3 6 1 4 6 1 2 3 4 5 4 3 5 1 6 ...
3  . . . . . 5 2 3 5 . . 4 . . . 2 . 6 5 . 6 . . ...  1 6 4 3 2 5 2 3 5 6 1 4 4 1 3 2 5 6 5 2 6 1 4 ...
4  . . 5 . . . . 1 . . . 2 . . . 2 4 6 6 4 2 . . ...  2 6 5 4 1 3 3 1 4 5 6 2 5 3 1 2 4 6 6 4 2 1 3 ...

In [ ]:
# remove spaces
clean_df = clean_df.replace(r' ', '', regex = True)
clean_df.head()

                                 puzzle                              solution
0  ..2.6..5..21...5....4...32..5..4.1..  132465456321213546564213321654645132
1  ..2....64..2.45......14.4..53....4..  312654564312145263236145421536653421
2  ...25...3.1.....4543.....2.4...64...  146253253614612345435162521436364521
3  .....5235..4...2.65.6...3..4626.....  164325235614413256526143351462642531
4  ..5....1...2...246642...4...5....3..  265413314562531246642135423651156324

In [ ]:
# making a 'level' column
clean_df['level'] = 'Easy'
clean_df.head()

                                 puzzle  ... level
0  ..2.6..5..21...5....4...32..5..4.1..  ...  Easy
1  ..2....64..2.45......14.4..53....4..  ...  Easy
2  ...25...3.1.....4543.....2.4...64...  ...  Easy
3  .....5235..4...2.65.6...3..4626.....  ...  Easy
4  ..5....1...2...246642...4...5....3..  ...  Easy

[5 rows x 3 columns]

In [ ]:
# rename 'puzzle' to 'sudoku'
clean_df.rename(columns = {'puzzle': 'sudoku'}, inplace = True)
clean_df.head()

                                 sudoku  ... level
0  ..2.6..5..21...5....4...32..5..4.1..  ...  Easy
1  ..2....64..2.45......14.4..53....4..  ...  Easy
2  ...25...3.1.....4543.....2.4...64...  ...  Easy
3  .....5235..4...2.65.6...3..4626.....  ...  Easy
4  ..5....1...2...246642...4...5....3..  ...  Easy

[5 rows x 3 columns]

In [ ]:
# download the clean csv
clean_df.to_csv('6x6_puzzles.csv')

In [ ]:
files.download('6x6_puzzles.csv')